<!DOCTYPE html>
<meta charset="utf-8">
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
  var div = d3.select("body").append("svg")
.text("123")
        .attr("class", "main");
    var div_svg = d3.select("div.main").append("div")
.text("321")
        .attr("class","div_svg");

</script>
<body>
<div style="width:90%; margin:0 auto; overflow:auto; _display:inline-block;"> 
    <div style="width:150px; float:left; background:#6F0">这是左侧的内容 固定宽度</div> 
    <div style=" margin-left:160px; background:#FC0">中间内容，自适应宽度</div> 
</div>
</body>
