<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        /*
        div的css样式
        */

        #mainBubble {
            background: #fff;
            border: solid 1px #ddd;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0);
            font: 10px sans-serif;
            position: relative;
            left: 10%;
            right: 10%;
        }

        #mainBubble svg {
            left: 0;
            position: absolute;
            top: 0;
        }

        /*
        节点的css样式
        */
        #mainBubble circle {
            fill: #aaa;
            stroke: #666;
            stroke-width: 1.5px;
        }
    </style>
    <title>
        IKG展示
    </title>
</head>

<div id="mainBubble">
    <svg class="mainBubbleSVG" width="1198.33" height="839"></svg>
</div>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
    var w = window.innerWidth * 0.68 * 0.95;
    var h = Math.ceil(w * 0.7);
    // number of layer
    nlayer = 4;
    // radius of node
    var oR = w / (4 * nlayer);
    var nTop = 0;

    var svgContainer = d3.select("#mainBubble")
        .style("height", h + "px");

    var svg = d3.select("#mainBubble").append("svg")
        .attr("class", "mainBubbleSVG")
        .attr("width", w)
        .attr("height", h)
        .on("mouseleave", function () {
            return resetBubbles();
        });

    var mainNote = svg.append("text")
        .attr("id", "bubbleItemNote")
        .attr("x", 10)
        .attr("y", h - 15)
        .attr("font-size", 12)
        .attr("dominant-baseline", "middle")
        .attr("alignment-baseline", "middle")
        .style("fill", "#888888")
        .text(function (d) {
            return "IKG developed by CCIP laboratory, University of Chinese Academy of Sciences.";
        });
    //arrow
    var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height);

    var defs = svg.append("defs");

    var arrowMarker = defs.append("marker")
        .attr("id", "arrow")
        .attr("markerUnits", "strokeWidth")
        .attr("markerWidth", "12")
        .attr("markerHeight", "12")
        .attr("viewBox", "0 0 12 12")
        .attr("refX", "6")
        .attr("refY", "6")
        .attr("orient", "auto");

    var arrow_path = "M2,2 L10,6 L2,10 L6,6 L2,2";

    arrowMarker.append("path")
        .attr("d", arrow_path)
        .attr("fill", "#000");
    //read data
    d3.json("IAP2.json", function (error, root) {
        console.log(error);
        console.log(root.children2);

        var colVals = d3.scale.category10();
        for (var child in root) {
            if (child.search("child") != -1) {
                BClass = child;
                BText = child + "text";
                BubbleClass = "." + child;
                console.log(BubbleClass);
                length = root[child].length;
                var bubbleObj = svg.selectAll(BubbleClass)
                    .data(root[child])
                    .enter().append("g")
                    .attr("class", function (d, i) {
                        return "BubbleAndText_" + d.layer;
                    });
                bubbleObj.append("circle")
                    .attr("class", BClass)
                    .attr("id", function (d, i) {
                        return "Bubble" + "_" + d.layer + "_" + i;
                    })
                    .attr("r", function (d) {
                        return oR;
                    })
                    .attr("cx", function (d, i) {
                        return w / 16 + w / 4 * (child[8] - 1);
                    })
                    .attr("cy", function (d, i) {
                        //console.log(d);
                        if (length == 1) {
                            return h / 2;
                        }
                        else if (length == 3) {
                            return h / 4 * (i + 1);
                        }
                        else if (length == 2) {
                            return h / 4 * (i + 1) + h / 8;
                        }

                    })
                    .style("fill", function (d, i) {
                        return colVals(d.layer);
                    }) // #1f77b4
                    .style("opacity", 0.3)
                    .on("click", function (d, i) {
                        return activateBubble(d, i, d.layer, length);
                    });
                bubbleObj.append("text")
                    .attr("class", BText)
                    .attr("x", function (d, i) {
                        return w / 16 + w / 4 * (child[8] - 1);
                    })
                    .attr("y", function (d, i) {
                        //console.log(d);
                        if (length == 1) {
                            return h / 2;
                        }
                        else if (length == 3) {
                            return h / 4 * (i + 1);
                        }
                        else if (length == 2) {
                            return h / 4 * (i + 1) + h / 8;
                        }

                    })
                    .style("fill", function (d, i) {
                        return colVals(d.layer);
                    }) // #1f77b4
                    .attr("font-size", 15)
                    .attr("text-anchor", "middle")
                    .attr("dominant-baseline", "middle")
                    .attr("alignment-baseline", "middle")
                    .text(function (d) {
                        return d.name
                    })
                    .on("click", function (d, i) {
                        return activateBubble(d, i, d.layer, length);
                    });
            }
        }
    });

    function resetBubbles() {
    }

    function activateBubble(d, i, layer, length) {
// increase this bubble and decrease others
        var t = svg.transition()
            .duration(d3.event.altKey ? 7500 : 500);
        bubble = '.children' + layer;
//        var height = document.getElementById("Bubble" + "_" + layer + "_" + i).attributes["cy"].value;
        t.selectAll(bubble)
            .attr("cx", function (d, ii) {
                return w / 2;
            })
            .attr("cy", function (d, ii) {
                if (ii == i) {
                    return h / 2;
                }
                else if (ii < i) {
                    return h / 2 - (i - ii) * h / 3;
                }
                else if (ii > i) {
                    return h / 2 + (ii - i) * h / 3;
                }
            })
            .attr("r", function (d, ii) {
                return 1.2 * oR;
            });


        for (ll = 1; ll <= 4; ll++) {
            bubble = '.children' + ll;
            if (ll == layer) {
                continue;
            }
            t.selectAll(bubble)
                .attr("cx", function (d, ii) {
                    return w / 2 - w / 3 * (layer - ll);
                })
                .attr("cy", function (d, ii) {
                    if (layer == 1) {
                        if (ll < 4 && ll > 1) {
                            return h / 2 + (ii - 1) * h / 3;
                        }
                    }
                    else if (layer > 1 && layer < 4) {
                        if (ll == 1) {
                            return h / 2 + (ii - i + 1) * h / 3;
                        }
                        else if (ll != layer && ll > 1 && ll < 4) {
                            return h / 2 + (ii - i) * h / 3;
                        }
                        else if (ll == 4) {
                            return h / 2 + (ii - i + 1) * h / 3 - h / 4;
                        }
                    }
                    else if (layer == 4) {
                        if (ll == 1) {
                            return h / 2 - (ii - i) * h / 4;
                        }
                        else if (ll > 1 && ll < 4) {
                            return h / 2 + (ii - i) * h / 4 - h / 6;
                        }
                    }
                })
                .attr("r", function (d, ii) {
                    return 1.2 * oR;
                });
            ;

        }
        ;
        bubblt_text = '.children' + layer + "text";
        t.selectAll(bubblt_text)
            .attr("x", function (d, ii) {
                return w / 2;
            })
            .attr("y", function (d, ii) {
                if (ii == i) {
                    return h / 2;
                }
                else if (ii < i) {
                    return h / 2 - (i - ii) * h / 3;
                }
                else if (ii > i) {
                    return h / 2 + (ii - i) * h / 3;
                }
            });


        for (ll = 1; ll <= 4; ll++) {
            bubble = '.children' + ll + "text";
            if (ll == layer) {
                continue;
            }
            t.selectAll(bubble)
                .attr("x", function (d, ii) {
                    return w / 2 - w / 3 * (layer - ll);
                })
                .attr("y", function (d, ii) {
                    if (layer == 1) {
                        if (ll < 4 && ll > 1) {
                            return h / 2 + (ii - 1) * h / 3;
                        }
                    }
                    else if (layer > 1 && layer < 4) {
                        if (ll == 1) {
                            return h / 2 + (ii - i + 1) * h / 3;
                        }
                        else if (ll != layer && ll > 1 && ll < 4) {
                            return h / 2 + (ii - i) * h / 3;
                        }
                        else if (ll == 4) {
                            return h / 2 + (ii - i + 1) * h / 3 - h / 4;
                        }
                    }
                    else if (layer == 4) {
                        if (ll == 1) {
                            return h / 2 - (ii - i) * h / 4;
                        }
                        else if (ll > 1 && ll < 4) {
                            return h / 2 + (ii - i) * h / 4 - h / 6;
                        }
                    }
                });

        }
    }
</script>

</html>