
{% extends 'template.html' %}
{% block main_template %}
      <div class="card mb-3 col-8">
        <div class="card-header">
          <i class="fa fa-table"></i> 公司简介</div>
        <div class="card-body">
          <h2>{{ company_name }}</h2><br>
          <p>
            博天环境集团股份有限公司成立于1995年，于2017年2月17日在上交所主板上市（股票代码：603603)
            已逐步发展成为领先的水环境整体解决方案综合服务商，主要为高端工业水处理系统和城市水环境提供技术开发
            、咨询设计、核心设备制造、系统集成、项目管理、投资运营等一体化的解决方案，以实现水资源的保护和有效利用。
          </p>
          <p>
            博天环境的业绩行业覆盖广，在石油化工、煤化工、城市水环境、钢铁冶金、电子、电力、造纸、食品、制药、纺织印染、乳制品等众多行业内，
            已完成了数百项水环境综合服务项目，在技术难度高、项目规模大的能源化工水处理领域奠定了领先的市场地位和突出的竞争优势。
          </p>
          <p>
            博天环境拥有齐全的资质，属于国内少数几家能够进行复杂
            能源化工水环境综合服务的企业，公司凭借“水环境整体解决方案”的服务模式，陆续建立了众多水环境服务领域多个“世界级”和国内首屈一指的标杆项目，奠定了不容忽视的重要地位
          </p>
        </div>
      </div>
      <div class="card mb-3 col-8">
        <div class="card-header">
          <i class="fa fa-table"></i> 详细数据</div>
        <div class="card-body">
          <div class="table">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr class="row mx-0">
                <th class="col-3 text-center" aria-sort="none">类目</th>
                <th class="col-7 text-center" aria-sort="none">简介</th>
                  <th class="col-2 text-center" aria-sort="none">备注</th>
              </tr>
              </thead>
              <tbody>
              {% for p,o in company_info.items %}
                <tr class="row mx-0">
                    <td class="col-3 text-center">{{ p }}</td>
                    <td class="col-7 text-center">{{ o }}</td>
                    <td class="col-2"></td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    <script>
    $(function () {
        $('#dataTable').dataTable({
            "bSortable": false, "aTargets": [0]
        });
    })
    </script>
{% endblock %}